body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #F8F6F6;
    position: absolute;
    top: 0;
    left: 0;
}
.chat {
    flex: 1;
    width: 100vw;
}
/* 
.whole-page{
    display: flex;
} */

/* ナビバー */
nav{
    display: flex;
    position: fixed;
    border-bottom: 1px solid #dcdcdc;
    height: 70px;
    width: 100%;
    background-color: #F8F6F6;
}
.nav-return{
    margin: auto 0;
    margin-left: 20px;
    font-size: 2.5em;
    color: black;
}
.nav-avatar{
    margin: auto 10px;
    margin-left: 30px;
}
.nav-avatar img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.nav-name{
    margin: auto 0px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

/* 送信フォーム */
.send_form {
    position: fixed;
    bottom: 0;
    width: 100vw;
    background-color: #F8F6F6;
    z-index: 5;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.send_form textarea{
    width: 95%;
    height: 50px;
    /* margin-top: auto;
    margin-bottom: auto; */
}

/* チャット */
#room {
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    margin-left: auto;
    margin-bottom: 100px;
    margin-right: auto;
    overflow-y: scroll;
}
.message {
    margin: 0;
    padding: 5px;
    border-radius: 5px;
    max-width: 100%;
    margin-bottom: 10px;
}
span {
    margin: 0;
    word-wrap: break-word;
    max-width: 35ch;
}
.send-container{
    align-self: end;
}
.send {
    align-self: flex-end;
    background-color: #90ee90;
    color: black;
    float: right;
    margin-right: 10px;
}
.receive {
    align-self: flex-start;
    background-color: #c0c0c0;
    float: left;
    margin-left: 10px;
}

