html{
    height: 100%;
    width: 100%;
}

body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 50px;
    background-image: url(../images/airplane.jpg);
    background-repeat: no-repeat;
    background-size: 30% 100%;
    background-color: #F8F6F6;
    background-position: right;
    position: fixed;
    top: 0;
    left: 0;
}

body::after{
    content: " ";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.4);
    display: block;
}

.navigation{
    background: linear-gradient(to bottom, #fc7c72, #FFFFFF);
    height: 100vh;
    border-right: 2px solid black;
    opacity: 0.8;
    position: fixed;
}

nav{
    padding-top: 30px;
    padding-right: 40px;
}

ul > li{
    list-style: none;
    font-size: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list-a{
    text-decoration: none;
    color: black;
}

.card-page{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 120px;
    margin: 40px 70px 40px 450px;
}

.cards{
    border: 1px solid black;
    border-radius: 10%;
    height: 30vh;
    width: 15vw;
    background-color: white;
}

.postcard{
    /* border-bottom: 1px solid black; */
    padding-bottom: 40px;
}

.author{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding-top: 10px;
    padding-left: 10px;
}

.avatar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

h4{
    text-align: center;
}

.content{
    text-align: center;
}

.contenttext{
    position: relative;
    /* display: inline-block; */
    background: linear-gradient(to bottom, rgb(0, 0, 0), rgba(255, 255, 255, 0) 80%);
    background-clip: text; /* テキストに対して背景をクリップする */
    -webkit-background-clip: text; /* Safari に対するプレフィックス */
    color: transparent; /* テキストを透明にする */
}

.more{
    padding-left: 130px;
}

.react{
    display: flex;
    flex-direction: row;
    justify-content: right;
    
}

.count{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 10px;
}

.mark{
    font-size: 25px;
    vertical-align: middle;
    padding-right: 5px;
    background-color: white;
}

.post-index{
    z-index: 10;
}

