body{
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
}

.whole-page{
    display: flex;
    /* text-align: center; */
    /* justify-content: center; */
}



.navigation{
    background: linear-gradient(to bottom, #80D9FF, #FFFFFF);
    height: 100vh; 
    border-right: 2px solid black;
    opacity: 0.8;
    position: fixed;
    z-index: 0;
}

nav{
    padding-top: 30px;
    padding-right: 40px;
}

ul > li{
    list-style: none;
    font-size: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avatar{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.avatar:hover{
  transform: scale(1.2);
}

.name{
    font-family: 'Times New Roman', Times, serif;
}

.list-a{
    text-decoration: none;
    color: black;
    transition: font-size 0.3s ease-in-out;
    transform-origin: center;
    font-size: 30px
}

.list-a:hover{
   transform: scale(1.2);
}

/* ユーザーセレクト */
.select-page{
    margin-left: 200px;
    width: 60%;
    padding-left: 20%;
    padding-right: 20%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.index{
  text-align: center;
}

tr{
 width: 80%;
}
.user-index{
  display: flex;
  height: 60px;
  margin-top: 10px;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #000; /* ボーダーの色や太さは適宜調整してください */
  border-radius: 5px; /* 角を丸める（適宜調整） */
  box-sizing: border-box; /* ボーダーを要素の外側ではなく内側に収める */
}

.avatar-image{
  display: flex;
}
.image{
  margin: 5px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

/* .image:hover{
  transform: scale(1.2);
} */

.name{
  margin: 10px;
  padding-left: 10px;
  font-size: 25px;
  
}
.chat-btn{
  margin: 10px;

}

:root,
[data-bs-theme=light] {
  
  --bs-border-radius: 0.375rem;
  --bs-border-radius-sm: 0.25rem;
  --bs-border-radius-lg: 0.5rem;
  --bs-border-radius-xl: 1rem;
  --bs-border-radius-xxl: 2rem;
  --bs-border-radius-2xl: var(--bs-border-radius-xxl);
  --bs-border-radius-pill: 50rem;
  --bs-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  --bs-box-shadow-sm: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  --bs-box-shadow-lg: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  --bs-box-shadow-inset: inset 0 1px 2px rgba(0, 0, 0, 0.075);
  
}

ol,
ul {
  padding-left: 2rem;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

a {
    color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1));
    text-decoration: underline;
  }
  a:hover {
    --bs-link-color-rgb: var(--bs-link-hover-color-rgb);
  }
  
  a:not([href]):not([class]), a:not([href]):not([class]):hover {
    color: inherit;
    text-decoration: none;
  }
.btn {
    --bs-btn-padding-x: 0.75rem;
    --bs-btn-padding-y: 0.375rem;
    --bs-btn-font-family: ;
    --bs-btn-font-size: 0.9rem;
    --bs-btn-font-weight: 400;
    --bs-btn-line-height: 1.6;
    --bs-btn-color: var(--bs-body-color);
    --bs-btn-bg: transparent;
    --bs-btn-border-width: var(--bs-border-width);
    --bs-btn-border-color: transparent;
    --bs-btn-border-radius: var(--bs-border-radius);
    --bs-btn-hover-border-color: transparent;
    --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
    --bs-btn-disabled-opacity: 0.65;
    --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
    display: inline-block;
    padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
    font-family: var(--bs-btn-font-family);
    font-size: var(--bs-btn-font-size);
    font-weight: var(--bs-btn-font-weight);
    line-height: var(--bs-btn-line-height);
    color: var(--bs-btn-color);
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
    border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
    border-radius: var(--bs-btn-border-radius);
    background-color: var(--bs-btn-bg);
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  .btn:hover {
    color: var(--bs-btn-hover-color);
    background-color: var(--bs-btn-hover-bg);
    border-color: var(--bs-btn-hover-border-color);
  }
  
  .btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #0d6efd;
    --bs-btn-border-color: #0d6efd;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #0b5ed7;
    --bs-btn-hover-border-color: #0a58ca;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #0a58ca;
    --bs-btn-active-border-color: #0a53be;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #0d6efd;
    --bs-btn-disabled-border-color: #0d6efd;
  }
  