html{
    height: 100%;
    width: 100%;
}

body{
    position: relative;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 50px;
    background-color: #F8F6F6;
    /* position: fixed;
    top: 0;
    left: 0; */
}


.navigation{
    background: linear-gradient(to bottom, #80D9FF, #FFFFFF);
    height: 100vh;
    border-right: 2px solid black;
    opacity: 0.8;
    position: fixed;
}

nav{
    padding-top: 30px;
    padding-right: 40px;
}

ul > li{
    list-style: none;
    font-size: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list-a{
    text-decoration: none;
    color: black;
    transition: font-size 0.3s ease-in-out;
    transform-origin: center;
    font-size: 30px;
    cursor: pointer;
}

.list-a:hover{
    transform: scale(1.2);
}

.showpage{
    margin: 40px 0 40px 450px;

}

.show-card{
    margin-top: 90px;
    padding: 40px;
    background-color: white;
    width: 60vw;
    height: 55vh;
    border: 1px solid black;
}

.avatar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.username{
    font-size: 20px;
    display: flex;
}

.showname{
    margin: auto 10px;
}

.creatat{
    padding-right: 30px;
}

.main-content{
    width: 100%;
    padding: 40px;
}

.row1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.row2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.edit-delete{
    display: flex;
    gap: 30px;
}

a > .stamp{
    color: black;
    display: inline-block;
}

/* editボタン用now */
a > .stamp:active{
    box-shadow: none;
    transform: translateY(5px);
}

.icon-shadow{
    text-shadow: 2px 3px 3px #6a6a6a;
}

.stamp{
    font-size: 30px;
}

.delete{
    border: none;
    background-color: #F8F6F6;
}

/* 削除ボタン用now */
.delete:active{
    box-shadow: none;
    transform: translateY(5px);
}

.row3{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 60px;
    margin-top: 20px;
    margin-left: 10px;
}

.content{
    width: 50%;
    font-size: 15px;
    overflow-y: auto;
    height: 25vh;
}

.image-box{
    width: 40%;
    height: 25vh;
}

/* ✅投稿画像 */
.image{
    width: 100%;
    height: 25vh;
    border-radius: 20px;
    box-shadow: 5px 5px 2px #6a6a6a;
}

.zoom-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
}

.zoomed-image {
    max-width: 90%;
    max-height: 90%;
}



.comment-area{
    margin-top: 40px;
    width: 100%;
}

.comment{
    font-size: 18px;
}

.commentbox{
    height: 80px;
    width: 60vw;
    overflow-y: auto;
    font-size: 17px;
    padding: 10px;
    border: none;
    outline: none;
    border: 1px solid black;
}

.btn-box{
    display: flex;
    justify-content: end;
}

/* コメントボタン（候補②：立体） */
/* ひろやのCSS */
.btn {
    font-size: 15px;
    width: 120px;
    height: 40px;
    display: inline-block;
    margin: 15px 0 0 0;
    background-color: #7fda80; /* 背景色 */
    box-shadow: 0 3px 0 #46d548; /* 影の太さ・色 */
    border: solid 0.5px #46d548;
    border-radius: 10px;
    /* color: #fff; */
    cursor: pointer;
    text-decoration: none;
}

.btn:active {
    box-shadow: none;
    transform: translateY(4px);
}

.commentlist{
    font-size: 18px;
}

.commentbox2{
    /* border: 1px solid gray; */
    background-color: white;
    height: 40vh;
    overflow-y: auto;
    padding: 20px;
    border: 1px solid black;
}

.small-box{
    margin-bottom: 25px;
}

.card-time{
    color: gray;
}

.comment-body{
    display: flex;
    flex-direction: column;
    margin-left: 55px;
    font-size: 14px;
}

.hashtag{
    margin-left: 10px;
    
}

.hash{
    color: rgb(58, 123, 245);
}
